<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Rathaxes" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/2012/rathaxes/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/2012/rathaxes/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <img src="/2012/rathaxes/images/logo.png"><a href="/2012/rathaxes/">Rathaxes</a></img>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <h1><a id="lift" href="/2012/rathaxes{{ page.url }}#">↑</a> Rathaxes</h1>
      <p>
        Repository: <a href="http://code.google.com/p/rathaxes/">code.google.com/p/rathaxes/</a><br />
        Mailing list: <a href="http://groups.google.com/group/rathaxespublic/about/">rathaxespublic@googlegroups.com</a><br />
        IRC: #rathaxes on freenode<br />
      </p>
    </div>

    <div class="eip">
      <p>
        <a href="http://www.epitech.eu/"><img src="/2012/rathaxes/images/logo_eip.png"></img></a>
      </p>
    </div>
  </div>
</div>
</body>
</html>
